nav {
  background-color: #464646;
}

.nav-link {
  color: white !important;
}

.active {
  text-decoration-line: underline;
}

.full{
  width: 100%;
  overflow: hidden !important;
}

body{
  font-family: Montserrat !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  font-feature-settings: 'liga' off !important;
}
